body{
  min-height: 100vh;
  margin: 0px;
  /*background-image: url('vista.jpg');
  background-size: cover; /* This ensures the background image covers the entire viewport */
  /*background-position: center; /* Center the background image */
  /*background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.container{
  padding: 20px;
  width: 83%;
  margin-top: 0px;
}

/* Styles for header */
header {
  position: fixed;
  width: 80%;
  color: black;
  padding: 10px;
  text-align: left;
  border-radius: 0px;
  margin-left: 0px;
  /*background-color: #333; /* Change the background color to your preference */
  /*z-index: 1000; /* Ensure it's above other content */
}

main#blog-posts{
  margin-top: 250px;
}

/* Styles for blog post */
.blog-posts {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  width: 80%; /* Adjust the width according to your layout */
  overflow: auto; /* or overflow: scroll; */
  
}

h2 {
  font-size: 1.5em;
  color: black;
  margin-bottom: 8px;
}

p {
  font-size: 1em;
  color: black;
  margin-top: 0;
  margin-bottom: 8px;
}

/* Styles for form */
#blog-form {
  position: fixed;
  margin-top: 20px;
  padding-top: 20px;
}

input#post-title{
  background-color: whitesmoke;
}

textarea#post-content{
  background-color: whitesmoke;
}

/* Define a style for the placeholder text in Microsoft Edge */
::placeholder {
  color: black; /* Change the color to your desired color */
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
}

#blog-form{
  position: fixed;
  margin-top: 70px;
  width: 100%;
  padding-top: 0px;
}

#blog-form input,
#blog-form textarea {
  display: block;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 15px; 
}

#blog-form button {
  background-color: gray;
  width: 40%;
  border-radius: 15px;
  padding: 10px;
  height: auto;
  color: #fff;
  border: none;
  font-size: 1em;
  cursor: pointer;
}


#blog-form button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.delete-btn{
  background-color: gray;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

h1{
  margin-top: 0px;
  margin-bottom: 5px;
}


#datetime{
  position: fixed;
  top: 10px; /* Ensures it's visible at the top */
  left: 30px; /* Ensures it's aligned properly */
  color: black;
  padding: 0px;
  margin: 0; /* Reset margins */
  z-index: 1000; /* Ensure it’s on top of other elements */
}

/*h4{
  color: white;
  margin-top: 0px;
  margin-bottom: 30px;
  
}*/

.delete-btn:hover{
  background-color: white;
  color: black;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  #blog-form input,
  #blog-form textarea,
  #blog-form button {
    font-size: 0.9em;
  }
}
