body{
  height: 100%;
  background-image: url('vista.jpg');
  background-size: cover; /* This ensures the background image covers the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  padding-top: 120px;
}

.container{
  padding: 20px;
  margin-right: 20px;
}


/* Styles for header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  opacity: 0.7;
  
  z-index: 1000; /* Ensure it's above other content */
}

/* Styles for blog post */
.blog-posts {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  width: 80%; /* Adjust the width according to your layout */
  overflow: auto; /* or overflow: scroll; */
  
}

h2 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 8px;
}

p {
  font-size: 1em;
  color: white;
  margin-top: 0;
  margin-bottom: 8px;
}

/* Styles for form */
#blog-form {
  margin-top: 20px;
}

input#post-title{
  background-color: whitesmoke;
}

textarea#post-content{
  background-color: whitesmoke;
}

/* Define a style for the placeholder text in Microsoft Edge */
::placeholder {
  color: black; /* Change the color to your desired color */
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.9;
}

.post-date{
  color: white;
  opacity: 0.8;
}

#blog-form input,
#blog-form textarea {
  display: block;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 15px;
  opacity: 0.9;
  
}

#blog-form button {
  background-color: gray;
  width: 20%;
  border-radius: 15px;
  padding: 10px;
  height: auto;
  color: #fff;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

#blog-form button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}


.delete-btn{
  background-color: gray;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  justify-content: center;
}

div#datetime{
  color: white
}

.delete-btn:hover{
  background-color: white;
  color: black;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  #blog-form input,
  #blog-form textarea,
  #blog-form button {
    font-size: 0.9em;
  }
}
